{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <br>
    <div class="d-flex justify-content-center">
        {{ form_start(form) }}
        <div class="row">
            {{ form_row(form.item) }}
        </div>
        <div class="row">
            {{ form_row(form.taxNumber) }}
        </div>
        <div class="row">
            <button class="btn btn-success">Get the price</button>
        </div>
        {{ form_end(form) }}
    </div>
    {% if result %}
        <br>
        <div class="d-flex justify-content-center">
            {{ result }}
        </div>
    {% endif %}
{% endblock %}